<form action="/students" method="post">
  <label for="new_student"> Student Form </label>
  <input type="text" name="first_name" value="">
  <input type="text" name="last_name" value="">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="submit" name="new_student" value="Submit Student">

</form>
